name: Test

on:
  push:
    branches: [master]
    paths: ["src/**/*.*", "tests/**/*.*"]
  pull_request:
    branches: [master]
    paths: ["src/**/*.*", "tests/**/*.*"]
  workflow_dispatch:
  # make this workflow reusable by release.yml
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.13"]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4

      - name: Install uv.
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: qchem

      - name: Install OpenBabel
        if: matrix.python-version == '3.10'
        run: conda install -c conda-forge openbabel

      - name: Install dependencies
        run: |
          uv pip install -e . --system
          uv pip install pytest pymatgen pytest-cov --system

      - name: pytest
        env:
          PMG_MAPI_KEY: ${{ secrets.PMG_MAPI_KEY }}
          MPLBACKEND: Agg
        run: pytest --cov=custodian --cov-report=xml --color=yes tests

      - name: Upload coverage reports to Codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
