name: Testing

on:
  push:
    branches: [master]
    paths-ignore: [docs/**]
  pull_request:
    branches: [master]
    paths-ignore: [docs/**]

jobs:
  build:
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OpenBabel
        shell: bash -l {0}
        run: conda install -c conda-forge openbabel

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install -e '.[dev]'

      - name: pytest
        env:
          PMG_MAPI_KEY: ${{ secrets.PMG_MAPI_KEY }}
          MPLBACKEND: "Agg"
        run: pytest --cov=custodian --color=yes tests

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
