name: Testing

on:
  push:
    branches: [master]
    paths-ignore: [docs/**]
  pull_request:
    branches: [master]
    paths-ignore: [docs/**]
  workflow_dispatch:
  # make this workflow reusable by release.yml
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
        # not testing on 3.9 because tests use glob("*", root_dir=TEST_FILES)
        # and root_dir only added in 3.10
        python-version: ["3.10", "3.12"]

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install uv
        run: pip install uv

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: qchem

      - name: Install OpenBabel
        run: conda install -c conda-forge openbabel

      - name: Install dependencies
        run: uv pip install numpy==1.26.4
        run: uv pip install -e '.[dev]' --system

      - name: pytest
        env:
          PMG_MAPI_KEY: ${{ secrets.PMG_MAPI_KEY }}
          MPLBACKEND: Agg
        run: pytest --cov=custodian --color=yes tests

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
